@import "tailwindcss";

@theme {
  --color-primary-100: #1977d5;
  --color-primary-200: #e7f1fb;

  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }

  body {
    @apply font-sans antialiased;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code,
  pre {
    @apply font-mono;
  }
}
